.megamenu{
	width: auto;
	height: 210px;
	background: rgba(0,0,0,0.9);
	float: left;
	padding: 0 6%;
	/*overflow: hidden;*/

}
.megamenucon{
	float: left;
	width: 22%;
	margin-left: 24px;
}
.megamenucon a.thea{
	display: block;
	margin: 15px 0;
	text-align: center;
	text-transform: uppercase;
	border: 1px dashed #fff;
}
.theul{
	border: 1px solid red;
	padding-left: 0;
}
a{
	color: white;
	text-decoration: none;
}
.theul a:hover{
	color: #ff789e;

}
.megamenucon>a:hover{
	color: #ff789e;
	border: 1px dashed #ff789e;
}
